
/* Navigation Area */
.carousel-control-next, 
.carousel-control-prev{
    height: 2.5rem;
    width: 2.5rem;
    margin: auto 0;
} 

.select-disposition {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 3rem 5rem;
}

.container-carousel {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-top: 8%;
    padding: 3rem 0;
    width: 85%;
    position: absolute;
    top: 0;
}

.title-main {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    text-shadow: -5px -3px 10px #000;
}

.result {
    color: #fff; 
    text-align: left; 
    font-weight: bold;
    padding-left: 0;
    padding-top: 2px;
}

.custom-btn {
    background-color: #9931e9;
    font-weight: bold;
    color: #f3f3f3;
}